* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flex container */

.flex-container {
  /* height is mandatory as align items requires space */
  height: 400px;
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  /* align-items: stretch; */

  /* refer image */
  align-items: baseline;
}

/* flex item */

.item {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: white;
  margin: 10px;
}

/* to make on item in different position */
.item:nth-child(3) {
  align-self: flex-end;
}

.item:nth-child(2) {
  align-self: center;
}

.item:nth-child(1) {
  align-self: flex-start;
}
