* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flex container */

.flex-container {
    /* to use justify-content, we require height */
  height: 500px;
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: column;
  /* main axis is the y axis now so justify content align in y axis and not in x axis. */
  justify-content: space-between;
  /* alway align items aligns in cross axis, now the cross axis is x axis as the flex direction os columns */
  align-items: flex-start;
  background-color: aqua;
}

/* flex item */

.item {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: white;
  margin: 10px;
}
