* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flex container */

.flex-container {
  display: flex;
  background-color: aqua;
  justify-content: end;
  /* justify-content: center;
  justify-content: start;
  justify-content: space-around;
  justify-content: space-between; */
}

/* flex item */

.item {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: white;
  margin: 10px;
}
